<h1>Here is a list of users</h1>

<%= render partial: 'posts/post_form' %>

<% @users.each do |user| %>
  <div class="user-profile">
    <div class="image-profile">
      <%= image_tag user.photo, alt: 'User Photo' if user.photo.present? %>
    </div>
    <div class="box">
      <%= link_to user.name, user_path(user) %>
      <p>Posts: <%= user.post_counter %></p>
    </div>
  </div>
<% end %>







