<!DOCTYPE html>
<html>
<head>
  <title>Show Post</title>
</head>
<body>
  <div class="post">
    <h2><%= @post.title %></h2>
    <p><%= @post.text %></p>
  </div>

  <div class="comments">
    <h3>Comments:</h3>
    <ul>
      <% @post.comments.each do |comment| %>
        <li><%= comment.text %></li>
      <% end %>
      <% if @post.comments.empty? %>
        <li>No comments yet.</li>
      <% end %>
    </ul>
  </div>

  <%= link_to 'Back to Posts', user_posts_path(@post.user) %>
</body>
</html>